<%= link_to chat_message_path(message.chat, message) do %>
 <div class='message-list-item clearfix'>
  <small><%= message.id %></small>
  <p class='lead'>
    <strong><%= message.subject %> </strong> <br> <small><%= message.role %></small> <span class='float-end'><%= time_ago_in_words message.created_at %> ago</span>
  </p>
</div>
<% end %>
