<div id="<%= dom_id application %>" class='application-list-item clearfix'>
  <%= link_to application do %>
    <p class='lead'>
      <strong><%= application.id %>:
      <%= application.job.title %></strong>
      <br><small><%= application.job.company.name %></small>
    </p>
  <% end %>
</div>
