
<%= turbo_stream_from :message_list %>
<div class='row'>
  <div class='col'>
    <%= render @application %>
  </div>
  <div class='col-md-1'>
    <%= render partial: "chats/prompt_form", locals: { chat: @app_chat } %>
  </div>
   
  
  <div class="">
    <p>message count: <%= @app_chat.messages.count %></p>
    <%= print_grid(@app_chat.messages) %>
  </div>
  


<div class='row clearfix'>
  <div class="col-md-8 scrolling-details">
    <div class='job_description'>
      <%= @application.job.displayed_job_description %>
    </div>
  </div>
  <%= button_to "Delete Application",
                @application,
                method: :delete,
                class: "btn btn-danger float-end" %>
</div>
