<p style="color: green"><%= notice %></p>
<%= render 'chat_form', application: @application %>
<%= render @application %>

<div>
  <%= link_to "Edit this application", edit_application_path(@application) %> |
  <%= link_to "Back to applications", applications_path %>

  <%= button_to "Destroy this application", @application, method: :delete %>
</div>
<%= link_to "VIEW JOB", @application.job %>
<h2>Chats</h2>
<%= render @application.chats %>