<%= render @conversation %>
<div>
  <%= link_to "Edit this conversation", edit_conversation_path(@conversation) %> |
  <%= link_to "Back to conversations", conversations_path %>
  <%= button_to "Destroy this conversation", @conversation, method: :delete %>
</div>
<h1>Posts</h1>
<%= turbo_stream_from @conversation %>
<div id="posts">
  <%= render @posts %>
</div>
