
<%= simple_form_for job, defaults: { input_html: { class: 'form-control' } } do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :company_name %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :location %>
    <%= f.input :salary %>
    <%= f.input :job_type %>
    <%= f.input :experience %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
