<%= link_to job do %>
 <div class='job-list-item clearfix'>
  <small><%= job.id %></small>
  <p class='lead'>
    <strong><%= job.title %> </strong> <br> <small><%= job.company.name %></small> <span class='float-end'><%= time_ago_in_words job.created_at %> ago</span>
  </p>
</div>
<% end %>
