<div id="<%= dom_id job %>">
  <p>
    <strong>Company:</strong>
    <%= link_to job.company.name, job.company %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= link_to job.title, job %>
  </p>



  <p>
    <strong>Description:</strong>
    <%= job.description.html_safe %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= job.location %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= job.salary %>
  </p>

  <p>
    <strong>Job type:</strong>
    <%= job.job_type %>
  </p>

  <p>
    <strong>Experience:</strong>
    <%= job.experience %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= job.status %>
  </p>
      <a href="<%= job.web_link %>" target="_blank" class="btn btn-success"> Apply Now</a>
  <%= render partial: "applications/form", locals: { application: Application.new(job_id: job.id) } %>

</div>
