<div class='row'>

  <div class='col-md-6'>
    <%= render @job %>
  </div>
  <div class='col-md-3'>
    <%= link_to "Edit this job", edit_job_path(@job) %>
    <%= unless @job.description&.length && @job.description&.length > 1000
      link_to "MORE INFO", get_details_job_path(@job), class: "btn btn-info"
    end %>
    <%= button_to "Destroy this job", @job, method: :delete %>
  </div>
  <div class='col-md-3'>
    <p class='lead'><%= pluralize(@job.applications.count, "application") %></p>
  </div>
</div>
