<div class='row'>

  <div class='col-md-8'>
    <%= render @job %>
  </div>

  <div class='col-md-3'>
    <p class='lead'><%= pluralize(@job.applications.count, "application") %></p>
  </div>
  <div class='col-md-1'>
    <%= link_to "Edit this job", edit_job_path(@job), class: "btn btn-info" %>
    <%= job_info_or_apply_link(@job, "lg") %>
    <%= button_to "Destroy this job", @job, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
