<div class="well">
  <%= form_with(model: message, url: chat_messages_path(chat), id: "form") do |form| %>
    <%= form.text_field :role, value: "user", class: "form-control" %>
    <%= form.label :body %>
    <%= form.text_field :body, class: "form-control", size: "200x200" %>
    <div class="form-actions">
        <%= form.button :submit %>
    </div>
  <% end %>
</div>
