  <div class='row'>
  <div class="col-md-12">
  <h2>Application</h2>
  <%= link_to @chat.job_title, @chat.application %> 
  <hr>

  </div>
  
    <div class="col-md-8">
      <%= turbo_stream_from @chat %>

      <div id="messages" class="scrolling-chatbox">
        <%= render @chat.messages_to_display %>
      </div>
      <div class=''>
        <%= render partial: "messages/form", locals: { chat: @chat, message: Message.new } %>
      </div>
    </div>
    <div class='col-md-3 clearfix'>
      <div class="float-end">
        <%= render partial: "prompt_form", locals: { chat: @chat } %>

        <%= button_to "Delete", @chat, method: :delete, class: "btn btn-danger btn-sm" %>
      </div>
    </div>
</div>
