<p style="color: green"><%= notice %></p>

<h1>Companies</h1>

<h3> <%= @companies.count %> total companies</h3>
  <%= paginate @companies %>

<%= turbo_stream_from :company_list %>
<div id="companies">
  <%= render partial: "companies/company", collection: @companies %>  
</div>

