<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "Applicant Assist", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if user_signed_in? %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><%= link_to "Orders", orders_path, class: "nav-link" %></li>
          <li class="nav-item dropdown">
            <a id="create-nav-dropdown" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              +
            </a>
            <ul class="dropdown-menu">
              <%= link_to "New Message", new_message_path, class: "dropdown-item" %>
            </ul>
          </li>
        </ul>
        <span class="navbar-text"> Coins: <%= current_user.coins %></span>
      <% end %>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to shopping_cart_nav, carts_show_path, class: "nav-link" if user_signed_in? %>
        </li>
        <li class="nav-item">
          <%= link_to coins_nav, products_path, class: "nav-link" if user_signed_in? %>
        </li>
        <%= render 'devise/menu/registration_items' %>
        <%= render 'devise/menu/login_items' %>
      </ul>
    </div>
  </div>
</nav>
